<div class="container py-2 px-6 my-auto main ">
  <h1 class="my-3 " >{{ titulo }}</h1>
  <div class="row" >
    <div class="col-6 form" > 
      <form>
        <div class="mb-3">
          <label class="form-label">Ingrese el primer valor:
          </label>
          <input type="number" class="form-control" name="numero1" [(ngModel)]="numero1">
        </div>
        <div class="mb-3">
          <label class="form-label">Ingrese el segundo valor:
          </label>
          <input type="number" class="form-control" name="numero2" [(ngModel)]="numero2">
        </div>
        <div class="btns">
          <button type="submit" class="btn btn-primary" (click)='sumar()'>Sumar</button>
          <button type="submit" class="btn btn-primary" (click)='restar()'>Restar</button>
          <button type="submit" class="btn btn-primary" (click)='multiplicar()'>Multiplicar</button>
          <button type="submit" class="btn btn-primary" (click)='dividir()'>Dividar</button>
        </div>
      </form>    
    </div>
    <div class="col-4 result" > 
      <app-resultado [resultado]="resultado" ></app-resultado>
    </div>    
  </div>
</div>
